<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="/var/log/nlog-internal.log">

	<targets>
		<target xsi:type="File" name="fileTarget" filename="/var/log/MeasuresProbeApi.log" layout="${longdate} - ${uppercase:${level}} - ${threadid} - ${logger} - ${message} ${exception:format=tostring}" />
		<target name="logfile" xsi:type="File" fileName="/var/log/MeasuresProbeApi.csv" archiveAboveSize="50000000" archiveNumbering="Sequence" maxArchiveFiles="3">
			<layout xsi:type="CsvLayout">
				<column name="time" layout="${longdate}" />
				<column name="level" layout="${level}"/>
				<column name="message" layout="${message}" />
				<column name="Exception" layout="${exception:format=tostring}" />
			</layout>
		</target>
		<target name="console" xsi:type="ColoredConsole" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="console" />
		<logger name="*" minlevel="Trace" writeTo="fileTarget" />
		<logger name="*" minlevel="Trace" writeTo="logfile" />
	</rules>
</nlog>